# Jupyter Notebook
*.ipynb_checkpoints

# Python
__pycache__/
*.pyc

# Virtual Environment
env/
venv/

# Development Tools
.idea/

# Data and Output
output/
data/

# macOS
.DS_Store
Business-Analytics-Case-Study.code-workspace
